.card {
    display: flex;
    flex-direction: row;
    padding: 20px;
    border: solid 1px #9246F4;
    gap: 20px;
    width: 25vw;
    min-width: 300px;
    height: 100px;
    border-radius: 10px;
    box-shadow: 1px 3px 5px rgb(20, 20, 20);
    margin: 10px;
}


.card:hover {
    box-shadow: 3px 3px 5px rgb(20, 20, 20) !important;
    transition-duration: 0.4s;
    transform: scaleX(1.05) scaleY(1.05);
    animation-name: rainbow-border;
    animation-duration: 1s;
    border-width: 2px !important;
}

.card:hover .vertical-line {
    animation-name: rainbow-border;
    animation-duration: 1s;
}
