
main {
  height: 500vh;
  width: 100vw;
}


.timeline {
    width: 100vw;
    height: 2vh;
    background-color: #1E1E1E;
    border-radius: 15px;
    border: solid 1px #9246F4;
}


.progress {
  width: 0%;
  background-color: #9246F4;
  height: inherit;
  border-radius: inherit;
}

.fixed-content {
  position: fixed;
}
