/* You can add global styles to this file, and also import other style files */

body {
    background-color: #2d2d2d;
    color: white;
    margin: 0px;
    padding: 0px;
}

@keyframes rainbow-text {
    0% {color: red;}
    12.5% {color: red;}
    25% {color: yellow;}
    37.5% {color: green;}
    50% {color: blue;}
    62.5% {color: indigo;}
    75% {color: rgb(108, 39, 158);}
    100%{color: #9246F4;}
}

* {
    font-family: "Roboto";
}


.vertical-line {
    border-left: solid 1.2px #9246F4;
}

.mdParagraph {
    border-left: solid 1.2px #9246F4;
    border-width: 4px;
    margin-left: 30px;
    padding-left: 10px;
}

.purple {
    color: #9246F4;
}

h1 {
  font-size: 10vh;
}
